body,html{height:100%;-webkit-tap-highlight-color:transparent}
body{font-family: -apple-system-font,Helvetica Neue,Helvetica,sans-serif; color:#333333;}
ul {
    list-style: none;
}
.page,
body {
    background-color: #fff;
}

em,
i {
    font-style: normal;
}

.link {
    color: #1aad19;
}

.container {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

.page {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

.page {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    opacity: 0;
    z-index: 1
}

.page.js_show {
    opacity: 1
}

.page__hd {
    padding: 10px
}

.page__bd {
    padding: .7rem
}

.page__bd_spacing {
    padding: 0 15px
}

.page__ft {
    padding: 10px .7rem 20px;
    text-align: center;
    font-size: 13px;
    color: #999
}

.page__ft img {
    height: 19px
}

.page__ft.j_bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0
}

.page__title {
    text-align: left;
    font-size: 18px;
    font-weight: 400
}

.page__desc {
    margin-top: 5px;
    color: #888;
    text-align: left;
    font-size: 14px
}

.page.home .page__intro-icon {
    margin-top: -.2em;
    margin-left: 5px;
    width: 16px;
    height: 16px;
    vertical-align: middle
}

.page.home .page__title {
    margin-bottom: 15px
}

.page.home .page__bd img {
    width: 30px;
    height: 30px
}

.page.home .page__bd li {
    margin: 10px 0;
    background-color: #fff;
    overflow: hidden;
    border-radius: 2px;
    cursor: pointer
}

.page.home .page__bd li.js_show .weui-flex {
    opacity: .4
}

.page.home .page__bd li.js_show .page__category {
    height: auto
}

.page.home .page__bd li.js_show .page__category-content {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0)
}

.page.home .page__bd li:first-child {
    margin-top: 0
}

.page.home .page__category {
    height: 0;
    overflow: hidden
}

.page.home .page__category-content {
    opacity: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: .3s;
    transition: .3s
}

.page.home .weui-flex {
    padding: 15px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-transition: .3s;
    transition: .3s
}

.page.home .weui-cells {
    margin-top: 0
}

.page.home .weui-cells:after,
.page.home .weui-cells:before {
    display: none
}

.page.home .weui-cell {
    padding-left: 15px;
    padding-right: 15px
}

.page.home .weui-cell:before {
    left: 15px;
    right: 15px
}

.weui-cell__bd .weui-select .weui-cell-place {
    font-size: .9rem;
    color: #ddd
}

.weui-cell-place {
    font-size: .8rem;
    color: #ddd
}

.page.button .page__bd {
    padding: 0 15px
}

.page.button .button-sp-area {
    margin: 0 auto;
    padding: 15px 0;
    width: 60%
}

.page.cell .page__bd,
.page.form .page__bd {
    padding-bottom: 30px
}

.page.actionsheet,
.page.dialog {
    background-color: #fff
}

.page.dialog .page__bd {
    padding: 0 15px
}

.page.msg,
.page.msg_success,
.page.msg_warn,
.page.toast {
    background-color: #fff
}

.page.panel .page__bd {
    padding-bottom: 20px
}

.page.article {
    background-color: #fff
}

.page.icons {
    text-align: center
}

.page.icons .page__bd {
    padding: 0 40px;
    text-align: left
}

.page.icons .icon-box {
    margin-bottom: 25px;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center
}

.page.icons .icon-box i {
    margin-right: 18px
}

.page.icons .icon-box__ctn {
    -webkit-flex-shrink: 100;
    flex-shrink: 100
}

.page.icons .icon-box__title {
    font-weight: 400
}

.page.icons .icon-box__desc {
    margin-top: 6px;
    font-size: 12px;
    color: #888
}

.page.icons .icon_sp_area {
    margin-top: 10px;
    text-align: left
}

.page.icons .icon_sp_area i:before {
    margin-bottom: 5px
}

.page.flex .placeholder {
    margin: 5px;
    padding: 0 10px;
    background-color: #ebebeb;
    height: 2.3em;
    line-height: 2.3em;
    text-align: center;
    color: #cfcfcf
}

.page.loadmore {
    background-color: #fff
}

.page.layers {
    overflow-x: hidden;
    -webkit-perspective: 1000px;
    perspective: 1000px
}

@media only screen and (max-width:320px) {
    .page.layers .page__hd {
        padding-left: 10px;
        padding-right: 10px
    }
}

.page.layers .page__bd {
    position: relative
}

.page.layers .page__desc {
    min-height: 4.8em
}

.page.layers .layers__layer {
    position: absolute;
    left: 50%;
    width: 150px;
    height: 266px;
    margin-left: -75px;
    box-sizing: border-box;
    -webkit-transition: .5s;
    transition: .5s;
    background: url(images/layers/transparent.gif) no-repeat 50%;
    background-size: contain;
    font-size: 14px;
    color: #fff
}

.page.layers .layers__layer span {
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    text-align: center;
    -webkit-transition: .5s;
    transition: .5s
}

.page.layers .layers__layer:last-child span {
    color: #aaa
}

.page.layers .layers__layer.j_hide {
    opacity: 0
}

.page.layers .layers__layer.j_pic span {
    color: transparent
}

@media only screen and (min-width:375px) and (min-height:603px) {
    .page.layers .layers__layer {
        width: 180px;
        height: 320px;
        margin-left: -90px
    }
}

@media only screen and (min-width:414px) and (min-height:640px) {
    .page.layers .layers__layer {
        width: 200px;
        height: 355px;
        margin-left: -100px
    }
}

.page.layers .layers__layer_popout {
    border: 1px solid hsla(0, 0%, 80%, .5);
    z-index: 4
}

.page.layers .layers__layer_popout.j_transform {
    -webkit-transform: translateX(15px) rotateX(45deg) rotate(10deg) skew(-15deg) translateZ(120px);
    transform: translateX(15px) rotateX(45deg) rotate(10deg) skew(-15deg) translateZ(120px)
}

@media only screen and (max-width:320px) {
    .page.layers .layers__layer_popout.j_transform {
        -webkit-transform: translateX(15px) rotateX(45deg) rotate(10deg) skew(-15deg) translateZ(140px);
        transform: translateX(15px) rotateX(45deg) rotate(10deg) skew(-15deg) translateZ(140px)
    }
}

.page.layers .layers__layer_popout.j_pic {
    border-color: transparent;
    background-image: url(images/layers/popout.png)
}

.page.layers .layers__layer_mask {
    background-color: rgba(0, 0, 0, .5);
    z-index: 3
}

.page.layers .layers__layer_mask.j_transform {
    -webkit-transform: translateX(15px) rotateX(45deg) rotate(10deg) skew(-15deg) translateZ(40px);
    transform: translateX(15px) rotateX(45deg) rotate(10deg) skew(-15deg) translateZ(40px)
}

@media only screen and (max-width:320px) {
    .page.layers .layers__layer_mask.j_transform {
        -webkit-transform: translateX(15px) rotateX(45deg) rotate(10deg) skew(-15deg) translateZ(80px);
        transform: translateX(15px) rotateX(45deg) rotate(10deg) skew(-15deg) translateZ(80px)
    }
}

.page.layers .layers__layer_navigation {
    background-color: rgba(40, 187, 102, .5);
    z-index: 2
}

.page.layers .layers__layer_navigation.j_transform {
    -webkit-transform: translateX(15px) rotateX(45deg) rotate(10deg) skew(-15deg) translateZ(-40px);
    transform: translateX(15px) rotateX(45deg) rotate(10deg) skew(-15deg) translateZ(-40px)
}

@media only screen and (max-width:320px) {
    .page.layers .layers__layer_navigation.j_transform {
        -webkit-transform: translateX(15px) rotateX(45deg) rotate(10deg) skew(-15deg) translateZ(20px);
        transform: translateX(15px) rotateX(45deg) rotate(10deg) skew(-15deg) translateZ(20px)
    }
}

.page.layers .layers__layer_navigation.j_pic {
    background-color: transparent;
    background-image: url(images/layers/navigation.png)
}

.page.layers .layers__layer_content {
    background-color: #fff;
    z-index: 1
}

.page.layers .layers__layer_content.j_transform {
    -webkit-transform: translateX(15px) rotateX(45deg) rotate(10deg) skew(-15deg) translateZ(-120px);
    transform: translateX(15px) rotateX(45deg) rotate(10deg) skew(-15deg) translateZ(-120px)
}

@media only screen and (max-width:320px) {
    .page.layers .layers__layer_content.j_transform {
        -webkit-transform: translateX(15px) rotateX(45deg) rotate(10deg) skew(-15deg) translateZ(-40px);
        transform: translateX(15px) rotateX(45deg) rotate(10deg) skew(-15deg) translateZ(-40px)
    }
}

.page.layers .layers__layer_content.j_pic {
    background-image: url(images/layers/content.png)
}

.page.searchbar .searchbar-result {
    display: none;
    margin-top: 0;
    font-size: 14px
}

.page.searchbar .searchbar-result .weui-cell__bd {
    padding: 2px 0 2px 20px;
    color: #666
}

.page.actionsheet,
.page.gallery,
.page.picker {
    overflow: hidden
}

@-webkit-keyframes a {
    0% {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        opacity: 0
    }
    to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1
    }
}

@keyframes a {
    0% {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        opacity: 0
    }
    to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1
    }
}

@-webkit-keyframes b {
    0% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1
    }
    to {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        opacity: 0
    }
}

@keyframes b {
    0% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1
    }
    to {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        opacity: 0
    }
}

.page.slideIn {
    -webkit-animation: a .2s forwards;
    animation: a .2s forwards
}

.page.slideOut {
    -webkit-animation: b .2s forwards;
    animation: b .2s forwards
}

.nav {
    width: 100%;
    color: #999;
    font-size: 13px;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 9999999;
    overflow: hidden;
    height: 50px;
    text-align: center;
    border-bottom: 1px solid #dfdfdf;
    background: #fff;
}

.nav-retur {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    flex: 1 auto;
    text-align: center;
    line-height: 54px;
    background: url(./images/return.png) no-repeat 39% 53%;
    background-size: 22px 22px;
    text-indent: 25px;
}

.nav-main {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    flex: 1 auto;
    line-height: 54px;
    background: url(./images/home.png) no-repeat 37% 48%;
    background-size: 22px 22px;
    text-indent: 20px;
}

.mask3 {
    background: #000;
    opacity: 0.5;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1002;
    display: none;
}

.component-select .weui-cells {
    margin-top: 0;
}

.component-select label.weui-cell {
    padding: 5px 0;
}

.component-select .weui-cell__bd {
    text-align: left;
}

.weui-cell-mask {
    position: relative
}

.weui-cell-mask em {
    position: absolute;
    width: 100%;
    height: 30px;
    z-index: 9999999;
    left: 0;
    top: 0;
}

.weui-toptips_error {
    background-color: #e64340;
}

.weui-toptips_success {
    background-color: #71B83C;
}

.main-page .weui-media-box__bd .weui-media-box__desc>span {
    margin-right: 15px !important;
}
/**LIQIANG ADD*/
.weui-article p{ font-weight: normal;}

.page .vcode-time>b {
    color: #70b83a;
    font-weight: 100;
}

.page .vcode-time i {
    font-style: normal;
    font-size: 18px;
    color: #70b83a;
    font-weight: 100;
}
.check-info .nav{
    display: none;
}
.weui-agree .weui-agree__text{
    float: right;
    margin-top: 10px;
}
.weui-btn-area .weui-btn_primary{
    margin-top: 40px!important;
}
.page  .weui-media-box__desc {
    margin-bottom: 10px;
}
.jssorb05 div, .jssorb05 div:hover, .jssorb05 .av {
    position: absolute;
    width: 25px;
    height: 10px;
    background: url('images/b05.png') no-repeat;
    overflow: hidden;
    cursor: pointer
}

.page__hd .jssorb05 div {
    background-position: -50px -9px;
}

.page__hd .jssorb05 div:hover, .jssorb05 .av:hover {
    background-position: -8px -9px;
}

.page__hd .jssorb05 .av {
    background-position: -8px -9px;
}

.page__hd .jssorb05 .dn, .jssorb05 .dn:hover {
    background-position: -50px -9px;
}
.page__hd .jssorb05>div{
    width: 25px !important;
    height: 10px !important;
}
.apply .province .weui-input{
    color: #ff6900 !important;
}
.page .weui-cells_form{
    border: 1px solid #dddddd;
}
.weui-cell:before{
    border-top: 1px solid #dddddd;
}
/*.page .weui-article{
    font-family: " SimSun" !important;
    font-weight: 100 !important;
}
*/
.BSP-tzbs strong, b {
    font-weight: normal !important;
}
.weui-article {
    font-size: 16px !important;
}
.user-live-info .weui-article .info{
    margin: 24px 0;
}
.weui-cell__bd{ font-weight:normal;}
/* .page-user-info-detail .weui-cell,.weui-cell_select-after{
padding-left: 24px;
  padding-right: 24px;
}
*/
/*.page-user-info-detail .weui-cells .weui-cell__p{*/
    /*left:24px;*/
/*}*/
.page-user-info-detail .weui-cells .weui-cell:before{
    content: " ";
    left: 24px;
    right: 24px;
}
.info-check .weui-cell_access{
    font-family: " SimSun";
}
.family-hasdiseased .weui-btn_primary{
    background-color: #fff;
}
.family-hasdiseased .weui-icon-cancel:before{
    content: " ";
}
.family-hasdiseased .weui-btn_primary>i{
    display: inline-block;
    background-image: url(images/icon_addbtn.png);
    width: 18px;
    height: 18px;
    background-size:18px 18px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    margin-right: 5px;
}
.family-hasdiseased .weui-btn_primary{
    color: #6FBA2C;
}

#container .weui-media-box__desc{
    font-family: " SimSun";
}
#container .check-info .weui-media-box__desc{
    color: #666666;
}
#container .weui-media-box_text{
    border: 1px solid #DDDDDD;
    border-radius: 3px;
}
#container .weui-media-box_text p:nth-child(2){
    color: #333333 !important;
}
.page-user-manage .weui-cell__ft{
    display: block;
}
.family-disease .weui-btn_primary{
    background-color: #fff;
}
.family-disease .weui-icon-cancel:before{
    content: " ";
}
.family-disease .weui-btn_primary>i{
    display: inline-block;
    background-image: url(images/icon_addbtn.png);
    width: 18px;
    height: 18px;
    background-size:18px 18px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    margin-right: 5px;
}
.family-disease .weui-btn_primary{
    color: #6FBA2C;
}
.family-hasdisease .weui-cell_select-after{
    padding-left: 15px;
    padding-right: 15px;
}
.family-hasdisease .button-sp-area .weui-btn_mini{
    margin-right: 10px;
}
.family-hasdisease .weui-btn_primary{
    margin-top: 40px;
}
.appiont-time .page__bd .weui-grids .weui-grid{
    margin-right: 10px !important;
}
.appiont-time .weui-grids{
    width: 100%;
    /*padding-left: .1rem;*/
}
.appiont-time .page__bd{
    padding-left: 10px;
    padding-right: 0;
}
.main-page .page__bd .weui-media-box_appmsg-nopadding{
    padding-bottom: 20px;
}
.screening-report .page__title{
    padding-bottom: 20px;
}
.protocal .protocal-content .title{
    color:#333333;
}
.appoint-page .weui-cell_select .weui-select{
    color: #999999;
}
.page-Physical-testingresult .Physical-testingresult .page__bd{
    padding-top:25px;
}
.Physical-testingresult .weui-cell{

    padding-left: 24px;
    padding-right: 24px;
}
.Physical-testingresult .weui-cell:before{
    left: 24px;
    right: 24px;
}

/**LIQIANG ADD END*/
.weui-dialog__bd {
    text-align: center;
}

.weui-dialog__bd {
    padding: 0 1.3em .8em;
    line-height: 1.5;
}

.weui-dialog__hd {
    padding: 1.0em 1.6em 0.5em;
}

/**预约描述流程图*/
.flow-wrapper {
    width: 100%;
}

.flow-wrapper .flow {
    float: left;
    background: #fff;
    width: 136px;
    height: auto;
    color: #8CC856;
    border: 1px solid #E6E5E3;
    padding: 10px;
    position: relative;
    border-radius: 5px;
}

.flow-wrapper .flow.gap {
    margin-right: 30px;
    margin-bottom: 30px;
}

.right-arrow i, .left-arrow i, .bottom-arrow i {
    background: url('images/flow-arrow.png') transparent no-repeat center center;
    width: 32px;
    height: 32px;
    position: absolute;
    display: block;
    z-index: 9;
    background-size: 50%;
}

.right-arrow i {
    right: -25px;
    top: 50%;
    margin-top: -16px;
}

.left-arrow i {
    left: -25px;
    top: 50%;
    transform: rotate(180deg);
    margin-top: -16px;
}

.bottom-arrow i {
    bottom: -25px;
    left: 50%;
    transform: rotate(90deg);
    margin-left: -16px;
}

.submit em {
    position: absolute;
    z-index: 999;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
.appoint-page .weui-cell, .appoint-edit .weui-cell{ padding: 30px 15px .4rem;}
.error-input{
    border: 1px solid red !important;
}
.source-text{
    position: absolute;
    right: 20px;
    bottom: 16px;
    font-size: 0.9em;
    color: #000;
}

input[type=date] {
    display: block;
    height: 21px;
    line-height: 30px;
}

.nav a {
    display: block;
    width: 100%;
    height: 100%;
    color: black;
}

.page {
    padding-top: 0px;
}

.weui-cells_form .weui-cell__bd, .weui-cells_form .weui-cell__hd, .weui-cells_form .weui-cell__ft {
    height: 30px;
    line-height: 30px;
}

.weui-select {
    height: 30px;
    line-height: 30px;
}

.weui-cell_warn {
    color: #e64340
}

#widgetContainer {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -9;
}

.weui-dialog__bd:first-child {
    padding: 10px;
}

.vcode-wrapper {
    position: relative;
}

.vcode-wrapper .vcode-time {
    position: absolute;
    z-index: 9;
    left: 0;
    top: 0;
    width: 100%;
    height: 30px;
    background: #fff;
    text-align: center;
}

.weui-dialog__bd {
    max-height: 500px;
    overflow-y: scroll;
}
.hidden{
    display: none;
}
.refresh-icon{
    position: absolute;
    width: 32px;
    height: 32px;
    background: url('../images/refresh-icon.png') no-repeat 0 0;
    top: 0;
    left: 45%;
    z-index: 99999;
    visibility: hidden;
}