body,html {
    height: 100%;
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: -apple-system-font,Helvetica Neue,Helvetica,sans-serif;
    font-size: 16px;
}
img{ display: block;}
ul {
    list-style: none
}

body {
    background-color: #FFFFFF;
    color: #333333;   
}
.page {
    overflow-y: auto;  
    font-size: 14px;
}
.page__bd{ padding: 0 15px;}
.weui-cell_bd {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}
.img-parent{ width: 100%;}
.text-center{ text-align: center;}
.fl{ float: left;}
.fr{ float: right;}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.clearfix:after{
	content: " ";
	clear: both;
}
.clearfix {
    clear: both;
    content: " ";
}
.link {
    color: #1aad19
}

.container {
    overflow: hidden
}

.container,.page {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow-x: hidden;
}
.mlr10{ margin:0 10px;}
.mainbox{ min-height: 100%; max-width: 768px; margin: 0 auto; position: relative;}
.green-bgcolor{ background-color: #00dd73;}
.orange-bgcolor{ background-color: #ffa23b;}
.red-bgcolor{ background: #ff5a55;}

.none-div {
    width: 100%;
    height: 100px;
    padding-top:20px;
}
