.classification-list a{padding: 15px;}
.classification-list a:nth-child(2n){
	background-color:#EEEEEE;
}
.classification-list .classification-icon{ 
	width: 30px;
    height: 30px;
    margin-right: 15px;
    background-image: url(../images/icon-02.png); 
	background-repeat: no-repeat;
	background-size:30px 390px;
}
.tumour-icon{
	background-position:0 -360px;
}
.cardiovascular-icon{
	background-position: 0 -270px;
}
.breath-icon{
	background-position: 0 -60px;
}
.digest-icon{
	background-position: 0 -240px;
}
.blood-icon{
	background-position: 0 -300px;
}
.metabolize-icon{
	background-position: 0 0;
}
.immune-icon{
	background-position: 0 -120px;
}
.urination-icon{
	background-position: 0 -150px;
}
.reproduction-icon{
	background-position: 0 -210px;
}
.skin-icon{
	background-position: 0 -180px;
}
.spirit-icon{
	background-position: 0 -90px;
}
.eye-icon{
	background-position: 0 -330px;
}
.bones-icon{
	background-position: 0 -30px;
}


.classification-list .classification-name{
	font-size: 18px;
	color: #333333;
}
.classification-infor{
	font-size: 14px;
	color: #999999;
}

