body{
	background-color:#EEEEEE ;
}
.banner-box{ 
	width: 100%;
	position: relative;	
}
.banner-box .banner-word{
	color: #FFFFFF;
	width: 100%;
	position: absolute;
	top:20%;
	text-align: center;
}
.banner-box h2{ margin-bottom: 10px;}
.section{
	background: #FFFFFF;
	width: 100%; 
	margin-bottom: 10px;
	padding: 20px 15px;
}
.section .risk-level .cell-flex{
	border-bottom: 1px solid #EEEEEE;
}
.section .low-risk .risk-name{
	color: #00D29D;
}
.section .middle-risk .risk-name{
	color: #FEBB5C;
}
.section .high-risk .risk-name{
	color: #ff7f7f;
}

.section .risk-level .risk-name{
	font-size: 18px;
	margin-right: 10px;
}
.section .risk-level .risk-intro{
	text-align: right;
	color: #333333;
}
.section .risk-level .risk-icon{
	width: 55px;
	height: 30px;
	background-image: url(../images/icon-05.png);
	background-repeat: no-repeat;
}
.section .risk-level .risk-level-0{
	background-position: 0 0;
}
.section .risk-level .risk-level-1{
	background-position: 0 -30px;
}
.section .risk-level .risk-level-2{
	background-position: 0 -60px;
}
.section .risk-level .risk-level-3{
	background-position: 0 -90px;
}
.section .risk-level .risk-level-4{
	background-position: 0 -120px;
}
.section .risk-level .risk-level-5{
	background-position: 0 -150px;
}
.section .risk-content{
	margin-top: 20px;
}
